.THIS {
}
.THIS .todo-header{
	font-size: 61px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
}
.THIS.todo-container{
	position: relative;
	width: 300px;
	margin: auto;
}
.THIS #todoName{
	align-content: center;
}
.THIS input{
	padding: 15px;
	width: 300px;
	text-align: center;
}
.THIS .todo-card{
	background-color:#f9f9f9;
	border:1px solid #e8e8e8;
	padding: 15px 20px;
	width: 300px;
}
.THIS .todo-card:hover{
	background-color: white;
	box-shadow: gray 2px 3px 7px -2px;
	transition: all 0.25s ease-in-out;
	transform: scale(1.03);
}
.THIS .total-todo{
	position: absolute;
	top: 40px;
	right: 40px;
}
.THIS .remove-item{
	float: right;
}

.THIS .delete-btn{
	position: absolute;
	right:10px;
	bottom: 10px;
}
.THIS .card-container{
	position: relative;
	width: 300px;
	margin: auto;
}