.THIS {
  padding: 0.5rem;
  border: 1px dashed #d4d4d4;
  background: #DEDEDE;
  border-radius: .25rem;
  margin: 0.5rem 0rem;
}

.THIS .add-wrap{
    word-wrap:break-word;
}

.THIS input[type="file"] {
  width: 100%;
}


@media (min-width: 64.025em) {
  .THIS {
    padding: 0.5rem 3rem;
  }
.THIS .msu-color {
  background-color:#004433;
  background-color:#004433;  
}
.THIS .slds-spinner--medium .slds-spinner__dot-a:before, .THIS .slds-spinner--medium .slds-spinner__dot-b:before, .THIS .slds-spinner--medium.slds-spinner:before{
background-color:#18453b;
}
.THIS .slds-spinner--medium .slds-spinner__dot-a:after, .THIS .slds-spinner--medium .slds-spinner__dot-b:after, .THIS .slds-spinner--medium.slds-spinner:after{
background-color:#18453b;
}

.THIS .slds-spinner--large .slds-spinner__dot-a:before, .THIS .slds-spinner--large .slds-spinner__dot-b:before, .THIS .slds-spinner--large.slds-spinner:before{
background-color:#18453b;
}
.THIS .slds-spinner--large .slds-spinner__dot-a:after, .THIS .slds-spinner--large .slds-spinner__dot-b:after, .THIS .slds-spinner--large.slds-spinner:after{
background-color:#18453b;
}

}